//- link(rel='stylesheet', href='/stylesheets/check.css')
#editar.modal.fade(role='dialog')
    .modal-dialog.modal-lg
        // Modal content
        .modal-content
            .modal-header(style='padding:40px 50px;')
                button.close(type='button', data-dismiss='modal') ×
                h4
                span.i.fa.fa-pencil-alt
                |  EditarTesis
            .modal-body
                .panel.panel-default
                    .panel-heading
                        h3.panel-title Tesis
                    br
                    
                    form.form-horizontal(name='myFormEdit', novalidate='')
                        //- {{clicked}}
                        .form-group
                            label.col-md-3.control-label Alumno :
                            .col-md-8.inputGroupContainer
                                .input-group
                                    span.input-group-addon
                                        span.i.fas.fa-user
                                    .inputGroupContainer
                                        //- select.btn.btn-default.col-md-12(name="alumno", ng-model='clicked.alumno',
                                        //-     ng-options="x.nombre as clicked.alumno === x.nombre for x in alumnos",required=''  )
                                        //- select.btn.btn-default.col-md-12(name="alumno", ng-model='clicked.alumno',
                                        //-     ng-options="x.nombre as clicked.alumno === x.nombre for x in alumnos",required=''  )
                                       
                                        select.btn.btn-default.col-md-12(name="alumno", ng-model='clicked.idalumno',        
                                             ng-options="x.idalumno as x.nombre for x in  alumnos ",required='' )
                                            option(style='display:none', value='') elige alumno ....    
                                span.input-group-text(style='color:red', ng-show='myFormEdit.alumno.$invalid && myFormEdit.alumno.$touched' )
                                    span(ng-show='myFormEdit.alumno.$error.required')     
                                        | ingresa alumno.
                        .form-group
                            label.col-md-3.control-label Título:
                            .col-md-8.inputGroupContainer
                                .input-group
                                    span.input-group-addon
                                        span.i.fa.fa-text-width
                                    .inputGroupContainer
                                    textarea.form-control(rows='2', cols='30' name="titulo", type='text', placeholder='Título', ng-model='clicked.titulo', required, ng-maxlength="300")
                                    //- input.form-control(name="titulo", type='text', placeholder='Título', ng-model='clicked.titulo', required, ng-maxlength="50")
                                span(style='color:red', ng-show='myFormEdit.titulo.$invalid && myFormEdit.titulo.$touched')
                                    span(ng-show='myFormEdit.titulo.$error.required') ingresa título.
                                    span(ng-show='myFormEdit.titulo.$error.maxlength') Muy largo.
                        
                        .form-group
                            label.col-md-3.control-label Resumen:
                            .col-md-8.inputGroupContainer
                                .input-group
                                    span.input-group-addon
                                        span.i.fa.fa-list
                                    .inputGroupContainer
                                    textarea.form-control(rows='3', cols='30' name="resumen", type='text', placeholder='resumen', ng-model='clicked.resumen', required, ng-maxlength="500")
                                span(style='color:red', ng-show='myFormEdit.resumen.$invalid && myFormEdit.resumen.$touched')
                                    span(ng-show='myFormEdit.resumen.$error.required') ingresa resumen.
                                    span(ng-show='myFormEdit.resumen.$error.maxlength') Muy largo.
                        
                        .form-group
                            label.col-md-3.control-label Grado :
                            .col-md-8.inputGroupContainer
                                .input-group
                                    span.input-group-addon
                                        span.i.fas.fa-user-graduate
                                    .inputGroupContainer
                                        select.btn.btn-default(name="grado", ng-model='clicked.idgrado', ng-init="grados",required='' )
                                            option(style='display:none', value='') elige grado ....    
                                            option( ng-repeat='x  in grados', value='{{x.idgrado}}', ng-if='x.idgrado==1 || x.idgrado==2', ng-selected="x.grado === clicked.grado") {{x.grado}}
                                span.input-group-text(style='color:red', ng-show='myFormEdit.grado.$touched' )
                                    span(ng-show='myFormEdit.grado.$error.required')     
                                        | ingresa grado.   
                        .form-group
                            label.col-md-3.control-label Departamento:
                            .col-md-8.inputGroupContainer
                                .input-group
                                    spanspan.input-group-addon
                                        span.i.fas.fa-vector-square
                                    .inputGroupContainer
                                        select.btn.btn-default.col-md-12(name="departamento", ng-model='clicked.iddepartamento', 
                                        ng-options='x.iddepartamento as x.departamento for x in departamentos',required='' )
                                            option(style='display:none', value='') elige departamento ....    
                                        
                                span.input-group-text(style='color:red', ng-show='myFormEdit.alumno.$invalid && myFormEdit.departamento.$touched' )
                                    span(ng-show='myFormEdit.departamento.$error.required')     
                                        | ingresa departamento.   
                        .form-group
                            label.col-md-3.control-label Unidad :
                            .col-md-8.inputGroupContainer
                                .input-group
                                    span.input-group-addon
                                        span.i.fas.fa-university
                                    .inputGroupContainer
                                        select.btn.btn-default.col-md-8(name="unidad", ng-model='clicked.idunidad',
                                            ng-options=' x.idunidad as x.nombre for x in unidad',required='')
                                            option(style='display:none', value='') elige unidad ....    
                                            
                                    
                                span.input-group-text(style='color:red', ng-show='myFormEdit.alumno.$invalid && myFormEdit.unidad.$touched' )
                                    span(ng-show='myFormEdit.unidad.$error.required')     
                                        | ingresa unidad.   
                        .form-group
                            label.col-md-3.control-label Mes :
                            .col-md-8.inputGroupContainer
                                .input-group
                                    spanspan.input-group-addon
                                        span.i.fas.fa-calendar
                                    //-    a {{clicked.mes | date:"MMM"}}
                                    input.form-control(name="mes", type='text', placeholder='Mes', ng-model='clicked.mes ', required, ng-maxlength="50")
                                span(style='color:red', ng-show='myFormEdit.mes.$invalid && myFormEdit.mes.$touched')
                                    span(ng-show='myFormEdit.mes.$error.required') ingresa mes.
                                    span(ng-show='myFormEdit.mes.$error.maxlength') Muy largo.
                        .form-group
                            label.col-md-3.control-label Año :
                            .col-md-8.inputGroupContainer
                                .input-group
                                    spanspan.input-group-addon
                                        span.i.fas.fa-calendar-alt
                                    input.form-control(name="anio", type='text', placeholder='Año', ng-model='clicked.anio', required, ng-maxlength="50")
                                span(style='color:red', ng-show='myFormEdit.anio.$invalid && myFormEdit.anio.$touched')
                                    span(ng-show='myFormEdit.anio.$error.required') ingresa año.
                                    span(ng-show='myFormEdit.anio.$error.maxlength') Muy largo.

                        .form-group
                            label.col-md-3.control-label Director :
                            inputGroupContainer.col-md-8
                                .input-group
                                    span.input-group-addon
                                        span.i.fas.fa-user-graduate
                                    
                                    select.btn.btn-default.col-md-12(name="director", ng-model='clicked.iddirector',required=''
                                        ng-options='x.idpersona as x.nombre group by x.departamento  for x in personas  |filter: clicked.departamento',
                                        ng-disabled="myFormEdit.departamento.$invalid ")
                                    span.input-group-btn
                                        button.btn.btn-md.btn-primary(ng-show="!codirector ", ng-click='codirector = true',ng-disabled="myFormEdit.director.$invalid ")
                                            span.i.fa.fa-plus   
                                span.input-group-text(style='color:red', ng-show='myFormEdit.director.$invalid && myFormEdit.director.$touched' )
                                    span(ng-show='myFormEdit.director.$error.required')     
                                        | ingresa director.   
                                span.input-group-text(style='color:red', ng-show='myFormEdit.alumno.$invalid ' )
                                    span(ng-show='myFormEdit.departamento.$error.required')     
                                        | ingresa departamento para habilitar.
                            
                        .form-group(ng-show=" codirector",)
                            label.col-md-3.control-label Codirector :
                            inputGroupContainer.col-md-8
                                .input-group
                                    span.input-group-addon
                                        span.i.fas.fa-user-graduate
                                    select.btn.btn-default.col-md-12(name="codirector", ng-model='clicked.idcodirector1',
                                        ng-options="x.idpersona as x.nombre group by x.departamento disable when x.idpersona === clicked.iddirector for x in personas ",required='' )
                                
                                    span.input-group-btn
                                        button.btn.btn-primary(ng-show="!codirector2", ng-click='codirector2= true',ng-disabled="myFormEdit.codirector.$invalid ") 
                                            span.i.fa.fa-plus
                                        button.btn.btn-danger(ng-show="!codirector2", ng-click="codirector = false ;clicked.codirector=''") 
                                            span.i.fa.fa-minus 
                                span.input-group-text(style='color:red', ng-show='myFormEdit.codirector.$invalid || myFormEdit.codirector.$touched' )
                                    span(ng-show='myFormEdit.codirector.$error.required')     
                                        | ingresa codirector.    

                        .form-group(ng-show="codirector2")
                            label.col-md-3.control-label Codirector 2 :
                            inputGroupContainer.col-md-8
                                .input-group
                                    span.input-group-addon
                                        span.i.fas.fa-user-graduate
                                    select.btn.btn-default.col-md-12(name="codirector2", ng-model='clicked.idcodirector2',
                                        ng-options="x.idpersona as x.nombre group by x.departamento disable when x.idpersona === clicked.iddirector || x.idpersona === clicked.idcodirector1 for x in personas",required='' )
                                
                                    span.input-group-btn
                                        button.btn.btn-primary(ng-show="!codirector3", ng-click='codirector3= true',ng-disabled="myFormEdit.codirector2.$invalid ") 
                                            span.i.fa.fa-plus
                                        button.btn.btn-danger(ng-show="!codirector3", ng-click="codirector2 = false ;clicked.codirector2=''") 
                                            span.i.fa.fa-minus 
                                span.input-group-text(style='color:red', ng-show='myFormEdit.codirector2.$invalid && myFormEdit.codirector2.$touched' )
                                    span(ng-show='myFormEdit.codirector2.$error.required')     
                                        | ingresa codirector 2. 
                        
                        .form-group(ng-show="codirector3")
                            label.col-md-3.control-label Codirector 3 :
                            inputGroupContainer.col-md-8
                                .input-group
                                    span.input-group-addon
                                        span.i.fas.fa-user-graduate
                                    select.btn.btn-default.col-md-12(name="codirector3", ng-model='clicked.idcodirector3',
                                        ng-options="x.idpersona as x.nombre group by x.departamento disable when x.idpersona === clicked.iddirector || x.idpersona === clicked.idcodirector1 || x.idpersona === clicked.idcodirector2  for x in personas",required='' )
                                
                                    span.input-group-btn
                                        button.btn.btn-primary(ng-show="!codirector4", ng-click='codirector4= true',ng-disabled="myFormEdit.codirector3.$invalid ") 
                                            span.i.fa.fa-plus
                                        button.btn.btn-danger(ng-show="!codirector4", ng-click="codirector3 = false ;clicked.codirector3=''") 
                                            span.i.fa.fa-minus 
                                span.input-group-text(style='color:red', ng-show='myFormEdit.codirector3.$invalid && myFormEdit.codirector3.$touched' )
                                    span(ng-show='myFormEdit.codirector3.$error.required')     
                                        | ingresa codirector 3. 
                        
                        .form-group(ng-show="codirector4")
                            label.col-md-3.control-label Codirector 4 :
                            inputGroupContainer.col-md-8
                                .input-group
                                    span.input-group-addon
                                        span.i.fas.fa-user-graduate
                                    select.btn.btn-default.col-md-12(name="codirector4", ng-model='clicked.idcodirector4',
                                        ng-options=`x.idpersona as x.nombre group by x.departamento  disable when x.idpersona === clicked.iddirector
                                         || x.idpersona === clicked.idcodirector1
                                         || x.idpersona === clicked.idcodirector2 || x.idpersona === clicked.idcodirector3  for x in personas`
                                        ,required='' )
                                    span.input-group-btn
                                        button.btn.btn-danger( ng-click="codirector4 = false ;clicked.codirector4=''") 
                                            span.i.fa.fa-minus 
                                span.input-group-text(style='color:red', ng-show='myFormEdit.codirector4.$invalid && myFormEdit.codirector4.$touched' )
                                    span(ng-show='myFormEdit.codirector4.$error.required')     
                                        | ingresa codirector 4. 
                
                
            
                    .panel-footer.text-right
                        hr
                        button.btn.btn-success(data-dismiss='modal', type='button', ng-click='update(clicked)',
                            ng-disabled=`myFormEdit.nombre.$invalid  && myFormEdit.apellido.$invalid && myFormEdit.grado.$invalid
                                            && myFormEdit.genero.$invalid && myFormEdit.depto.$invalid ` ng-show='!externo')
                            span.i.fas.fa-sync-alt
                            |  Atualizar
                       
                        //- button.btn.btn-danger(data-dismiss='modal' ,ng-click='get()')
                        button.btn.btn-danger(data-dismiss='modal' ,ng-click='get()')
                            span.i.fas.fa-times
                            |  Cerrar
                        