#registrar.modal.fade(role='dialog')
    .modal-dialog
        // Modal content
        .modal-content
            .modal-header(style='padding:40px 50px;')
                button.close(type='button', data-dismiss='modal') ×
                h4
                span.i.fa.fa-pencil-alt
                |  Registrar Alumno
            .modal-body
                .panel.panel-default
                    .panel-heading
                        h3.panel-title Alumno
                  
                        
                    form(class="well form-horizontal" action='/alumno/alumno' method='post' autocomplete='off' )
                        .form-group
                            input#opc.form-control(required type='text' name='opc'  value='1' style="display:none")
                        .form-group
                            //- label.col-md-4.control-label Nombre
                            //- .col-md-6
                            //-     .form-group
                            //-         input.form-control.datepicker(type='text', placeholder='Nombre')
                            label.col-md-2.control-label Nombre
                            .col-md-8.inputGroupContainer
                                .input-group
                                    span.input-group-addon
                                        span.i.fa.fa-user
                                    input#nombre.form-control.datepicker(name='nombre', placeholder='Nombre', type='text' required)
                            .col-md-2
                                button.btn.btn-primary.btn-sm.add_field_button
                                    i.fa.fa-plus
                                    |  Add 
                        .form-group
                            .input_fields_wrap
                        
                        .form-group
                            label.col-md-4.control-label Primer Apellido 
                            .col-md-8.inputGroupContainer
                                .input-group
                                    span.input-group-addon
                                        span.i.fa.fa-user
                                    input#ap1.form-control(name='ap', placeholder='Primer Apellido', type='text' required)
                        .form-group
                            label.col-md-4.control-label Segundo Apellido 
                            .col-md-8.inputGroupContainer
                                .input-group
                                    span.input-group-addon
                                        span.i.fa.fa-user
                                    input#ap2.form-control(name='ap2', placeholder='Segundo Apellido', type='text' required)
                        .form-group
                            label.col-md-4.control-label Tercer Apellido 
                            .col-md-8.inputGroupContainer
                                .input-group
                                    span.input-group-addon
                                        span.i.fa.fa-user
                                    input#ap2.form-control(name='ap3', placeholder='Tercer Apellido', type='text' required)
                        .form-group
                            label.col-md-4.control-label Matricula
                            .col-md-8.inputGroupContainer
                                .input-group
                                    span.input-group-addon
                                        span.i.fa.fa-fingerprint
                                    input#matricula.form-control(name='matricula', placeholder='matricula', type='number' required)
                        .form-group
                            label.col-md-4.control-label Departramento
                            .col-md-8.inputGroupContainer
                                .input-group
                                    span.input-group-addon
                                        span.i.fas.fa-vector-square
                                    select#departamento(name="departamento" , class="form-control"  required)
                                        option(value='', disabled='', selected='') Elija una opcion
                                        each item, i in items3
                                            option(value=item.id) #{item.departamento}
                        .form-group
                            label.col-md-4.control-label Grado
                            .col-md-8.inputGroupContainer
                                .input-group
                                    span.input-group-addon
                                        span.i.fas.fa-user-graduate
                                    select(name="grado"  class="form-control" data-style="btn-info" required)
                                        option(value='', disabled='', selected='') Elija una opcion
                                        each item, i in items4
                                            //- -if (item.idgrado == 1 & item.idgrado ==2 )
                                            -if (item.idgrado !== 3  & item.idgrado !== 4 & item.idgrado !== 5 & item.idgrado !== 6 & item.idgrado !== 7)
                                                option(value=item.idgrado)  #{item.grado}
                        .form-group
                            label.col-md-4.control-label Genero
                            .col-md-8.inputGroupContainer
                                .input-group
                                    span.input-group-addon
                                        span.i.fas.fa-transgender-alt
                                    select(name="genero"  class="form-control" data-style="btn-info" required)
                                        option(value='', disabled='', selected='') Elija una opcion
                                        each item, i in items2
                                            option(value=item.id) #{item.genero}
                        hr
                        .form-group
                            div(class='col-md-10 col-md-offset-2')
                                .col-md-5
                            
                                    button.btn.btn-success(type='submit' name="registro")
                                        span.i.fas.fa-check
                                        |  Registrar
                                .col-md-5
                                    button.btn.btn-danger(type='submit', data-dismiss='modal')
                                        span.i.fas.fa-times
                                        |  Cerrar
script(type='text/javascript', src='/javascripts/addNombre.js')  