 
.col-md-8
#registrarAlumno.modal.fade(role='dialog')
    .modal-dialog
        // Modal content
        .modal-content
            .modal-header(style='padding:40px 50px;')
                button.close(type='button', data-dismiss='modal') ×
                h4
                span.i.fa.fa-pencil-alt
                |  Registrar Alumno
            .modal-body
                
                form(class="well form-horizontal" action='/alumno/ShowAlumno' method='post' autocomplete='off' )
                    .form-group
                        input#opc.form-control(required type='text' name='opc'  value='1' style="display:none")
                        label.col-md-4.control-label Primer Nombre
                        .col-md-8.inputGroupContainer
                            .input-group
                                span.input-group-addon
                                    span.i.fa.fa-user
                                input#nombre.form-control(name='nombre', placeholder='Nombre', type='text' required)
                    .form-group
                        label.col-md-4.control-label Apellido Paterno
                        .col-md-8.inputGroupContainer
                            .input-group
                                span.input-group-addon
                                    span.i.fa.fa-user
                                input#ap1.form-control(name='ApellidoPaterno', placeholder='Apellido Paterno', type='text' required)
                    .form-group
                        label.col-md-4.control-label Apellido Materno
                        .col-md-8.inputGroupContainer
                            .input-group
                                span.input-group-addon
                                    span.i.fa.fa-user
                                input#ap2.form-control(name='ApellidoMaterno', placeholder='Apellido Materno', type='text' required)
                    .form-group
                        label.col-md-4.control-label Matricula
                        .col-md-8.inputGroupContainer
                            .input-group
                                span.input-group-addon
                                    span.i.fa.fa-fingerprint
                                input#matricula.form-control(name='Matricula', placeholder='Matricula', type='text' required)
                    .form-group
                        label.col-md-4.control-label Departramento
                        .col-md-8.inputGroupContainer
                            .input-group
                                span.input-group-addon
                                    span.i.fas.fa-vector-square
                                select#departamento(name="departamento" , class="form-control"  required)
                                    option(value='', disabled='', selected='') Elija una opcion
                                    each item, i in items2
                                        option(value=i+1) #{item.ndepartamento}
                    .form-group
                        label.col-md-4.control-label Grado
                        .col-md-8.inputGroupContainer
                            .input-group
                                span.input-group-addon
                                    span.i.fas.fa-user-graduate
                                select(name="grado"  class="form-control" data-style="btn-info" required)
                                    option(value='', disabled='', selected='') Elija una opcion
                                    each item, i in items3
                                        -if (item.id !== '3'  & item.id !== '4')
                                            option(value=i+1) #{item.ngrado}
                    .form-group
                        label.col-md-4.control-label Genero
                        .col-md-8.inputGroupContainer
                            .input-group
                                span.input-group-addon
                                    span.i.fas.fa-transgender-alt
                                select(name="genero"  class="form-control" data-style="btn-info" required)
                                    option(value='', disabled='', selected='') Elija una opcion
                                    each item, i in items4
                                        option(value=i+1) #{item.ngenero}
                    hr
                    .form-group
                        div(class='col-md-10 col-md-offset-2')
                            .col-md-5
                        
                                button.btn.btn-success(type='submit' name="registro")
                                    span.i.fas.fa-check
                                    |  Registrar
                            .col-md-5
                                button.btn.btn-danger(type='submit', data-dismiss='modal')
                                    span.i.fas.fa-times
                                    |  Cerrar
            //- .modal-footer
                    

  