extends ../templates/default

block content
    br
    br
    br
    br
    div(class='col-md-6 col-md-offset-3')
  
        if alumno.length > 0
            script(src='../javascripts/alumno/insert.js')
        if Edit.length > 0
            script(src='../javascripts/edit.js')
        if Delete.length > 0
            script(src='../javascripts/edit.js')
       
    .container
        .panel.panel-default
            .panel-heading
            
                h1.inverse.title.text-center Alumnos
                hr
                div.col-md-10
        .panel.panel-default
            .panel-heading
                button.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#registrarAlumno') Registrar Alumno
                br
                div(class="table-responsive" )
                    table#example.table.table-striped.table-bordered
                        thead
                            tr
                                th Nombre
                                th Apellido P
                                th Apellido M
                                th Matricula
                                th Genero
                                th Grado
                                th Departamento
                                th Accion
                        
                        tbody
                            each item, i in items
                                tr
                                    td= item.nombre
                                    td= item.apellido_1
                                    td= item.apellido_2
                                    td= item.matricula
                                    td= item.departamento_id
                                    td= item.grado_id
                                    td= item.genero_id
                                    td  
                                        .col-md-12
                                            .col-md-4
                                                //- a.action.btn.btn-sm.btn-primary(type='button', data-toggle='modal',
                                                //- data-tooltip='Editar', data-target='#editAlumno',
                                                //- onclick=`showID("${item.id}"),
                                                //- showNombre("${item.nombre}")`) 
                                                a.action.btn.btn-sm.btn-primary(type='button', data-toggle='modal',title='Editar',
                                                    data-target='#editAlumno',data-tooltip='Editar'
                                                    onclick=`showID("${item.id}"),
                                                        showNombre("${item.nombre}"),
                                                        showAp1("${item.apellido_1}"),
                                                        showAp2("${item.apellido_2}"),
                                                        showMatricula("${item.matricula}"),
                                                        showDepto("${item.departamento_id}"),
                                                        showGenero("${item.genero_id}"),
                                                        showGrado("${item.grado_id}")
                                                    `)
                                                    i.fa.fa-edit
                                                
                                                include editalumno
                                            .col-md-4
                                                .action.btn.btn-sm.btn-danger(type='button', data-toggle='modal', data-target='#exampleModalCenter',
                                                    onclick="showEliminar("+item.id+")",data-tooltip='Eliminar') 
                                                    
                                                        i.fa.fa-trash
                                                #exampleModalCenter.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
                                                    .modal-dialog.modal-dialog-centered(role='document')
                                                        .modal-content
                                                            .modal-header(Style="color:red")
                                                                h5#exampleModalLongTitle.modal-title Eliminar Tesis
                                                                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                                                                        span(aria-hidden='true') ×
                                                            .modal-body
                                                                 h2.text-center Confirmar Eliminar Tesis
                                                            .modal-footer
                                                                form(action='/users/panel' method='post' autocomplete='off')
                                                                    .form-group
                                                                        input#valor1.form-control(required type='text' name='valor1' placeholder='valor1' value='2' style="display:none")
                                                                        //- input#tesiseliminar.form-control(required type='text' name='eliminart' placeholder='valor1' value=item.id )
                                                                        input#eliminar(type="text",name='eliminar',style="display:none")
                                                                        //- input#gradoeliminar.form-control(required type='text' name='eliminarg' placeholder='valor1' value=item.grado style="display:none")
                                                                    //- button.btn.btn-danger.btn-default.pull-right(type='submit' ) si
                                                                    button.btn.btn-success.btn-default.btn-block(type='submit' name="registro")
                                                                        span.i.fas.fa-check
                                                                        |  Si
                                                                    br
                                                                    
                                                                    buutton.btn.btn-info.btn-danger.pull-right(data-dismiss='modal' )
                                                                        span.i.fas.fa-times
                                                                        |   NO


                                                            
                                            .col-md-4
                                                a.action.btn.btn-sm.btn-info( data-toggle='modal', data-target='#viewModal',data-tooltip='Consultar',
                                                        onclick=`showID("${item.id}"),
                                                        showPersona("${item.alumno}"),
                                                        showTitulo("${item.titulodetesis}"),
                                                        showResumen("${item.resumen}"),
                                                        showGrado("${item.ngrado}"),
                                                        showUnidad("${item.nunidad}"),
                                                        showDepartamento("${item.ndepartamento}"),
                                                        showNom1("${item.director1}"),
                                                        showNom2("${item.director2}"),
                                                        showNom3("${item.director3}"),
                                                        showNom4("${item.director4}"),
                                                        showNom5("${item.director5}")
                                                        `) 
                                                        i.fa.fa-eye


    
    script(type='text/javascript', src='/javascripts/newAlumno.js')
    //- script(type='text/javascript', src='/javascripts/tesisEdit.js')
    section#services
    include ../alumno/registrarAlumno
