block content
    br
    br
    br
    br
    
    
    h1.title.text-center='Bienvenido    ' + user.nombre
    h1.title.text-center='Rol ' + user.rol
    br
    .container
        .panel.panel-default
            .panel-heading
            
                h1.inverse.title.text-center Status Tesis
                hr
                div.col-md-10
        .panel.panel-default
            .panel-heading
                br
                .container
                    // Trigger the modal with a button
                    button.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#myModal') Registrar Tesis
                    //- page-scroll.button#myBtn.btn-link Registrarse
                    
                hr
                table#example.table.table-striped.table-bordered
                    thead
                        tr
                            th Título
                            th Resumen
                            th Alumno
                            th Grado
                            th Investigador
                    tfoot
                        tr
                            th Título
                            th Resumen
                            th Alumno
                            th Grado
                            th Investigador
                            
                    tbody
                        each item, i in items
                            //- -if (item.alumno_id === user.id)
                             p sientro
                            tr
                            td= item.titulodetesis
                            td= item.resumen
                            td= item.alumno_id
                            td= item.grado_id
                            td= item.investigador1_id
                           
                                

        section#services
        include ../users/registrarTesis
                        
        section#services1
        include ../users/signin

    script(src='../javascripts/table.js') 