extends ../templates/default

block content
  //- h1= 'este es la vista de Status'
  
  //- h1.title.text-center='Bienvenido    ' + user.id
  .container
        div.col-md-10
            h1.title.text-center Status Tesis
            hr
    .panel.panel-default
        .panel-heading
        
        h1.inverse.title.text-center Status Tesis
        hr
        div.col-md-10
    .panel.panel-default
        .panel-heading
            br
            table#example.table.table-striped.table-bordered
                thead
                    tr
                        th Título
                        th Resumen
                        th Alumno
                        th Grado
                        th Investigador
                tfoot
                    tr
                        th Título
                        th Resumen
                        th Alumno
                        th Grado
                        th Investigador
                        
                tbody
                    each item, i in items
                        //- -if (item.alumno_id === user.id)
                          p sientro
                        tr
                          td= item.titulodetesis
                          td= item.resumen
                          td= item.alumno_id
                          td= item.grado_id
                          td= item.investigador1_id
                            



  script(src='../javascripts/table.js') 